In [1]:
import query
import pandas as pd 
import numpy as np
import sql_db
import seaborn as sn
import sys
import operator
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

patient = pd.read_csv("/Users/tedlinghu/Downloads/patient.csv")
hospital = pd.read_csv("/Users/tedlinghu/Downloads/hospital.csv")
apache_vars = pd.read_csv("/Users/tedlinghu/Downloads/apacheApsVar.csv")
cpc = pd.read_csv("/Users/tedlinghu/Downloads/carePlanCareProvider.csv")
apache_patient_result = pd.read_csv("/Users/tedlinghu/Downloads/apachePatientResult.csv")
treatment = pd.read_csv("/Users/tedlinghu/Downloads/treatment.csv")

In [4]:
south_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/south_patient.csv")
west_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/west_patient.csv")
midwest_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/midwest_patient.csv")
northeast_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/northeast_patient.csv")

In [5]:
south_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(south_patient.patientunitstayid)]
west_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(west_patient.patientunitstayid)]

northeast_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(northeast_patient.patientunitstayid)]
midwest_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(midwest_patient.patientunitstayid)]

In [65]:
apache_cols = ["patientunitstayid","respiratoryrate", "sodium", "heartrate", "meanbp" , "hematocrit"]
patient_cols = ["patientunitstayid", "gender", "age", "ethnicity", "admissionweight" ,"admissionheight"]


final_south = south_patient[patient_cols]
tmp = apache_vars[apache_vars['patientunitstayid'].isin(final_south['patientunitstayid'])][apache_cols]

In [66]:
final_south.shape

(56665, 6)

In [67]:
tmp.shape

(50945, 6)

In [68]:
tmp = tmp.reindex()

In [69]:
tmp1 = final_south[final_south['patientunitstayid'].isin(tmp['patientunitstayid'])]

In [70]:
tmp1.shape

(50945, 6)

In [71]:
tmp1 = tmp1.reindex()

In [72]:
tmp['patientunitstayid']

14559      309640
14560      309646
14561      309754
14562      309852
14563      309873
           ...
171172    3353235
171173    3353237
171174    3353251
171175    3353254
171176    3353263
Name: patientunitstayid, Length: 50945, dtype: int64

In [73]:
tmp1['patientunitstayid']

1         309640
2         309646
3         309754
4         309852
5         309873
          ...
56660    3353235
56661    3353237
56662    3353251
56663    3353254
56664    3353263
Name: patientunitstayid, Length: 50945, dtype: int64

In [74]:
final = pd.merge(tmp, tmp1, on = 'patientunitstayid')

In [75]:
final.shape

(50945, 11)

In [76]:
final.columns

Index(['patientunitstayid', 'respiratoryrate', 'sodium', 'heartrate', 'meanbp',
       'hematocrit', 'gender', 'age', 'ethnicity', 'admissionweight',
       'admissionheight'],
      dtype='object')

In [77]:
final.isnull().sum()

patientunitstayid       0
respiratoryrate         0
sodium                  0
heartrate               0
meanbp                  0
hematocrit              0
gender                 27
age                    25
ethnicity            1213
admissionweight      1752
admissionheight      1156
dtype: int64

In [78]:
final = final.dropna()

In [79]:
final.isnull().sum()

patientunitstayid    0
respiratoryrate      0
sodium               0
heartrate            0
meanbp               0
hematocrit           0
gender               0
age                  0
ethnicity            0
admissionweight      0
admissionheight      0
dtype: int64

In [80]:
final.shape

(47762, 11)

In [82]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47762 entries, 0 to 50944
Data columns (total 11 columns):
patientunitstayid    47762 non-null int64
respiratoryrate      47762 non-null float64
sodium               47762 non-null float64
heartrate            47762 non-null int64
meanbp               47762 non-null float64
hematocrit           47762 non-null float64
gender               47762 non-null object
age                  47762 non-null object
ethnicity            47762 non-null object
admissionweight      47762 non-null float64
admissionheight      47762 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.4+ MB

In [86]:
final["age"].unique()

array(['54', '74', '62', '55', '59', '76', '70', '> 89', '43', '41', '85',
       '50', '67', '84', '86', '75', '72', '49', '53', '61', '32', '58',
       '57', '60', '56', '71', '88', '66', '65', '80', '52', '81', '31',
       '40', '51', '47', '83', '29', '73', '63', '42', '27', '16', '64',
       '78', '82', '69', '48', '77', '87', '68', '89', '35', '38', '33',
       '79', '45', '46', '25', '36', '44', '22', '37', '24', '39', '21',
       '30', '23', '26', '18', '20', '34', '28', '0', '19', '17', '14',
       '12', '15', '13', '8', '11'], dtype=object)

In [92]:
final["age"].replace({"> 89":"89"}, inplace=True)

final["age"].unique()

array(['54', '74', '62', '55', '59', '76', '70', '89', '43', '41', '85',
       '50', '67', '84', '86', '75', '72', '49', '53', '61', '32', '58',
       '57', '60', '56', '71', '88', '66', '65', '80', '52', '81', '31',
       '40', '51', '47', '83', '29', '73', '63', '42', '27', '16', '64',
       '78', '82', '69', '48', '77', '87', '68', '35', '38', '33', '79',
       '45', '46', '25', '36', '44', '22', '37', '24', '39', '21', '30',
       '23', '26', '18', '20', '34', '28', '0', '19', '17', '14', '12',
       '15', '13', '8', '11'], dtype=object)

In [95]:
final["age"] =final["age"].astype(int)

In [96]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47762 entries, 0 to 50944
Data columns (total 11 columns):
patientunitstayid    47762 non-null int64
respiratoryrate      47762 non-null float64
sodium               47762 non-null float64
heartrate            47762 non-null int64
meanbp               47762 non-null float64
hematocrit           47762 non-null float64
gender               47762 non-null object
age                  47762 non-null int64
ethnicity            47762 non-null object
admissionweight      47762 non-null float64
admissionheight      47762 non-null float64
dtypes: float64(6), int64(3), object(2)
memory usage: 4.4+ MB

In [99]:
final = pd.get_dummies(final)

In [108]:
len(final.loc[final["sodium"] == -1])

11280

In [110]:
len(final.loc[final["heartrate"] == -1])

384

In [111]:
len(final.loc[final["meanbp"] == -1])

525

In [113]:
len(final.loc[final["hematocrit"] == -1])

12589

In [118]:
final = final.drop(final.loc[final["sodium"] == -1].index)

In [119]:
final.shape

(36482, 19)

In [123]:
len(final.loc[final["hematocrit"] == -1])

3565

In [124]:
final = final.drop("hematocrit", axis = 1)

In [126]:
final = final.drop(tmp.loc[tmp["heartrate"] == -1].index)

In [127]:
final = final.drop(tmp.loc[tmp["meanbp"] == -1].index)

In [130]:
final = final.drop(tmp.loc[tmp["respiratoryrate"] == -1].index)

In [128]:
final.shape

(36390, 18)

In [131]:
final.shape

(36251, 18)

In [133]:
final["patientunitstayid"]

2         309754
5         309887
6         309891
7         309892
8         309917
          ...
50935    3353200
50937    3353213
50938    3353216
50941    3353237
50942    3353251
Name: patientunitstayid, Length: 36251, dtype: int64

In [141]:
idx = apache_patient_result[apache_patient_result.patientunitstayid.isin(final["patientunitstayid"])]["patientunitstayid"].drop_duplicates().index

In [145]:
tmp = apache_patient_result.loc[idx]

In [150]:
icu_mort = tmp['actualicumortality']
hosp_mort = tmp['actualhospitalmortality']

icu_los = tmp['actualiculos']
hosp_los = tmp['actualhospitallos']

In [158]:
tmp_cols = ['actualicumortality', 'patientunitstayid']

x = tmp[tmp_cols]

In [162]:
x.loc[x["actualicumortality"] == "EXPIRED"]

       actualicumortality  patientunitstayid
25822             EXPIRED             310277
25862             EXPIRED             310587
25872             EXPIRED             310636
25930             EXPIRED             311326
25938             EXPIRED             311437
...                   ...                ...
296904            EXPIRED            3352774
296938            EXPIRED            3352895
297000            EXPIRED            3353087
297016            EXPIRED            3353117
297038            EXPIRED            3353194

[2126 rows x 2 columns]

In [151]:
len(icu_mort)

34601

In [144]:
final = final[final.patientunitstayid.isin(apache_patient_result.loc[idx]['patientunitstayid'])]

In [152]:
final.shape

(34601, 18)

In [167]:
final.loc[final["patientunitstayid"] == 310277]

,patientunitstayid,respiratoryrate,sodium,heartrate,meanbp,age,admissionweight,admissionheight,gender_Female,gender_Male,gender_Other,gender_Unknown,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown
23,310277,38.0,148.0,123,47.0,58,95.25,170.2,1,0,0,0,0,0,1,0,0,0

In [174]:
icu_mort = icu_mort.reindex

In [175]:
icu_mort

<bound method Series.reindex of 25780     ALIVE
25786     ALIVE
25788     ALIVE
25790     ALIVE
25792     ALIVE
          ...
297044    ALIVE
297048    ALIVE
297050    ALIVE
297056    ALIVE
297058    ALIVE
Name: actualicumortality, Length: 34601, dtype: object>