In [2]:
import query
import pandas as pd 
import numpy as np
import sql_db
import seaborn as sn
import sys
import operator
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

patient = pd.read_csv("/Users/tedlinghu/Downloads/eICU data/patient.csv")
hospital = pd.read_csv("/Users/tedlinghu/Downloads/eICU data/hospital.csv")
apache_vars = pd.read_csv("/Users/tedlinghu/Downloads/eICU data/apacheApsVar.csv")
cpc = pd.read_csv("/Users/tedlinghu/Downloads/eICU data/carePlanCareProvider.csv")
apache_patient_result = pd.read_csv("/Users/tedlinghu/Downloads/eICU data/apachePatientResult.csv")
treatment = pd.read_csv("/Users/tedlinghu/Downloads/eICU data/treatment.csv")

In [3]:
south_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/south_patient.csv")
west_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/west_patient.csv")
midwest_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/midwest_patient.csv")
northeast_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/northeast_patient.csv")

In [4]:
south_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(south_patient.patientunitstayid)]
west_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(west_patient.patientunitstayid)]

northeast_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(northeast_patient.patientunitstayid)]
midwest_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(midwest_patient.patientunitstayid)]

In [5]:
apache_cols = ["patientunitstayid","respiratoryrate", "sodium", "heartrate", "meanbp" , "hematocrit"]
patient_cols = ["patientunitstayid", "gender", "age", "ethnicity", "admissionweight" ,"admissionheight"]


south_patient_needed_vars = south_patient[patient_cols]
intersect_apache_patient = apache_vars[apache_vars['patientunitstayid'].isin(south_patient_needed_vars['patientunitstayid'])][apache_cols]

In [6]:
south_patient_needed_vars.shape

(56665, 6)

In [7]:
intersect_apache_patient.shape

(50945, 6)

In [8]:
intersect_patient_apache = south_patient_needed_vars[south_patient_needed_vars['patientunitstayid'].isin(intersect_apache_patient['patientunitstayid'])]

In [9]:
intersect_patient_apache.shape

(50945, 6)

In [10]:
intersect_patient_apache

,patientunitstayid,gender,age,ethnicity,admissionweight,admissionheight
1,309640,Female,54,Caucasian,127.00,166.4
2,309646,Female,74,Caucasian,69.40,152.4
3,309754,Female,62,Caucasian,85.70,162.6
4,309852,Female,55,Caucasian,56.60,162.2
5,309873,Male,59,Caucasian,97.97,182.9
...,...,...,...,...,...,...
56660,3353235,Male,50,Caucasian,90.00,175.3
56661,3353237,Female,79,Caucasian,78.40,162.6
56662,3353251,Male,73,African American,102.00,177.8
56663,3353254,Male,81,Caucasian,83.90,185.4
56664,3353263,Male,35,African American,100.80,182.9

In [11]:
intersect_apache_patient.reset_index(drop=True, inplace=True)

In [12]:
intersect_patient_apache

,patientunitstayid,gender,age,ethnicity,admissionweight,admissionheight
1,309640,Female,54,Caucasian,127.00,166.4
2,309646,Female,74,Caucasian,69.40,152.4
3,309754,Female,62,Caucasian,85.70,162.6
4,309852,Female,55,Caucasian,56.60,162.2
5,309873,Male,59,Caucasian,97.97,182.9
...,...,...,...,...,...,...
56660,3353235,Male,50,Caucasian,90.00,175.3
56661,3353237,Female,79,Caucasian,78.40,162.6
56662,3353251,Male,73,African American,102.00,177.8
56663,3353254,Male,81,Caucasian,83.90,185.4
56664,3353263,Male,35,African American,100.80,182.9

In [13]:
final = pd.merge(intersect_patient_apache, intersect_apache_patient, on = 'patientunitstayid')

In [14]:
final.shape

(50945, 11)

In [15]:
final.columns

Index(['patientunitstayid', 'gender', 'age', 'ethnicity', 'admissionweight',
       'admissionheight', 'respiratoryrate', 'sodium', 'heartrate', 'meanbp',
       'hematocrit'],
      dtype='object')

In [16]:
final.isnull().sum()

patientunitstayid       0
gender                 27
age                    25
ethnicity            1213
admissionweight      1752
admissionheight      1156
respiratoryrate         0
sodium                  0
heartrate               0
meanbp                  0
hematocrit              0
dtype: int64

In [17]:
final = final.dropna()

In [18]:
final.isnull().sum()

patientunitstayid    0
gender               0
age                  0
ethnicity            0
admissionweight      0
admissionheight      0
respiratoryrate      0
sodium               0
heartrate            0
meanbp               0
hematocrit           0
dtype: int64

In [19]:
final.shape

(47762, 11)

In [20]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47762 entries, 0 to 50944
Data columns (total 11 columns):
patientunitstayid    47762 non-null int64
gender               47762 non-null object
age                  47762 non-null object
ethnicity            47762 non-null object
admissionweight      47762 non-null float64
admissionheight      47762 non-null float64
respiratoryrate      47762 non-null float64
sodium               47762 non-null float64
heartrate            47762 non-null int64
meanbp               47762 non-null float64
hematocrit           47762 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.4+ MB

In [21]:
final["age"].unique()

array(['54', '74', '62', '55', '59', '76', '70', '> 89', '43', '41', '85',
       '50', '67', '84', '86', '75', '72', '49', '53', '61', '32', '58',
       '57', '60', '56', '71', '88', '66', '65', '80', '52', '81', '31',
       '40', '51', '47', '83', '29', '73', '63', '42', '27', '16', '64',
       '78', '82', '69', '48', '77', '87', '68', '89', '35', '38', '33',
       '79', '45', '46', '25', '36', '44', '22', '37', '24', '39', '21',
       '30', '23', '26', '18', '20', '34', '28', '0', '19', '17', '14',
       '12', '15', '13', '8', '11'], dtype=object)

In [22]:
final["age"].replace({"> 89":"89"}, inplace=True)

final["age"].unique()

array(['54', '74', '62', '55', '59', '76', '70', '89', '43', '41', '85',
       '50', '67', '84', '86', '75', '72', '49', '53', '61', '32', '58',
       '57', '60', '56', '71', '88', '66', '65', '80', '52', '81', '31',
       '40', '51', '47', '83', '29', '73', '63', '42', '27', '16', '64',
       '78', '82', '69', '48', '77', '87', '68', '35', '38', '33', '79',
       '45', '46', '25', '36', '44', '22', '37', '24', '39', '21', '30',
       '23', '26', '18', '20', '34', '28', '0', '19', '17', '14', '12',
       '15', '13', '8', '11'], dtype=object)

In [23]:
final["age"] =final["age"].astype(int)

In [24]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47762 entries, 0 to 50944
Data columns (total 11 columns):
patientunitstayid    47762 non-null int64
gender               47762 non-null object
age                  47762 non-null int64
ethnicity            47762 non-null object
admissionweight      47762 non-null float64
admissionheight      47762 non-null float64
respiratoryrate      47762 non-null float64
sodium               47762 non-null float64
heartrate            47762 non-null int64
meanbp               47762 non-null float64
hematocrit           47762 non-null float64
dtypes: float64(6), int64(3), object(2)
memory usage: 4.4+ MB

In [25]:
final = pd.get_dummies(final)

In [26]:
len(final.loc[final["sodium"] == -1])

11280

In [27]:
len(final.loc[final["heartrate"] == -1])

384

In [28]:
len(final.loc[final["meanbp"] == -1])

525

In [29]:
len(final.loc[final["hematocrit"] == -1])

12589

In [30]:
final = final.drop(final.loc[final["sodium"] == -1].index)

In [31]:
final.shape

(36482, 19)

In [32]:
len(final.loc[final["hematocrit"] == -1])

3565

In [33]:
final = final.drop("hematocrit", axis = 1)

In [34]:
final = final.drop(final.loc[final["heartrate"] == -1].index)

In [35]:
final = final.drop(final.loc[final["meanbp"] == -1].index)

In [36]:
final = final.drop(final.loc[final["respiratoryrate"] == -1].index)

In [37]:
final.shape

(36251, 18)

In [38]:
final["patientunitstayid"]

2         309754
5         309887
6         309891
7         309892
8         309917
          ...
50935    3353200
50937    3353213
50938    3353216
50941    3353237
50942    3353251
Name: patientunitstayid, Length: 36251, dtype: int64

In [39]:
idx = apache_patient_result[apache_patient_result.patientunitstayid.isin(final["patientunitstayid"])]["patientunitstayid"].drop_duplicates().index

In [40]:
tmp = apache_patient_result.loc[idx]

In [41]:
icu_mort = tmp['actualicumortality']
hosp_mort = tmp['actualhospitalmortality']

icu_los = tmp['actualiculos']
hosp_los = tmp['actualhospitallos']

In [42]:
tmp_cols = ['actualicumortality', 'patientunitstayid']

x = tmp[tmp_cols]

In [43]:
x

       actualicumortality  patientunitstayid
25780               ALIVE             309754
25786               ALIVE             309887
25788               ALIVE             309891
25790               ALIVE             309892
25792               ALIVE             309917
...                   ...                ...
297044              ALIVE            3353200
297048              ALIVE            3353213
297050              ALIVE            3353216
297056              ALIVE            3353237
297058              ALIVE            3353251

[34601 rows x 2 columns]

In [44]:
len(icu_mort)

34601

In [45]:
final = final[final.patientunitstayid.isin(apache_patient_result.loc[idx]['patientunitstayid'])]

In [46]:
final.shape

(34601, 18)

In [47]:
final.loc[final["patientunitstayid"] == 310277]

,patientunitstayid,age,admissionweight,admissionheight,respiratoryrate,sodium,heartrate,meanbp,gender_Female,gender_Male,gender_Other,gender_Unknown,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown
23,310277,58,95.25,170.2,38.0,148.0,123,47.0,1,0,0,0,0,0,1,0,0,0

In [48]:
icu_mort

25780     ALIVE
25786     ALIVE
25788     ALIVE
25790     ALIVE
25792     ALIVE
          ...
297044    ALIVE
297048    ALIVE
297050    ALIVE
297056    ALIVE
297058    ALIVE
Name: actualicumortality, Length: 34601, dtype: object

In [49]:
icu_mort.index

Int64Index([ 25780,  25786,  25788,  25790,  25792,  25794,  25796,  25798,
             25802,  25804,
            ...
            297034, 297036, 297038, 297040, 297042, 297044, 297048, 297050,
            297056, 297058],
           dtype='int64', length=34601)

In [50]:
icu_mort.reset_index(drop=True, inplace=True)

In [51]:
final_patient_id = final['patientunitstayid']

In [52]:
final = final.drop("patientunitstayid", axis = 1)

In [53]:
final.head()

,age,admissionweight,admissionheight,respiratoryrate,sodium,heartrate,meanbp,gender_Female,gender_Male,gender_Other,gender_Unknown,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown
2,62,85.7,162.6,10.0,140.0,39,45.0,1,0,0,0,0,0,1,0,0,0
5,76,112.4,175.3,12.0,137.0,121,112.0,0,1,0,0,0,0,1,0,0,0
6,70,82.3,166.4,18.0,133.0,91,156.0,1,0,0,0,1,0,0,0,0,0
7,70,164.0,166.4,15.0,136.0,59,103.0,1,0,0,0,1,0,0,0,0,0
8,89,81.6,182.9,29.0,146.0,103,50.0,0,1,0,0,0,0,1,0,0,0

In [55]:
final.shape

(34601, 17)

In [56]:
icu_mort.value_counts()

ALIVE      32475
EXPIRED     2126
Name: actualicumortality, dtype: int64

In [57]:
#extremely unbalanced class
2126/(32474+2126)

0.06144508670520231

In [80]:
range(final.shape[0])

range(0, 34601)

In [58]:
final

,age,admissionweight,admissionheight,respiratoryrate,sodium,heartrate,meanbp,gender_Female,gender_Male,gender_Other,gender_Unknown,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown
2,62,85.7,162.6,10.0,140.0,39,45.0,1,0,0,0,0,0,1,0,0,0
5,76,112.4,175.3,12.0,137.0,121,112.0,0,1,0,0,0,0,1,0,0,0
6,70,82.3,166.4,18.0,133.0,91,156.0,1,0,0,0,1,0,0,0,0,0
7,70,164.0,166.4,15.0,136.0,59,103.0,1,0,0,0,1,0,0,0,0,0
8,89,81.6,182.9,29.0,146.0,103,50.0,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50935,66,71.5,157.5,30.0,134.0,112,64.0,1,0,0,0,0,0,1,0,0,0
50937,51,54.4,160.0,45.0,142.0,107,116.0,1,0,0,0,0,0,1,0,0,0
50938,50,55.4,165.1,14.0,143.0,62,114.0,1,0,0,0,1,0,0,0,0,0
50941,79,78.4,162.6,42.0,140.0,112,125.0,1,0,0,0,0,0,1,0,0,0
50942,73,102.0,177.8,34.0,142.0,104,58.0,0,1,0,0,1,0,0,0,0,0

In [59]:
final.index

Int64Index([    2,     5,     6,     7,     8,    10,    11,    12,    14,
               15,
            ...
            50929, 50930, 50931, 50932, 50934, 50935, 50937, 50938, 50941,
            50942],
           dtype='int64', length=34601)

In [60]:
final.reset_index(drop=True, inplace = True)

In [75]:
final.index

RangeIndex(start=0, stop=34601, step=1)

In [61]:
final

,age,admissionweight,admissionheight,respiratoryrate,sodium,heartrate,meanbp,gender_Female,gender_Male,gender_Other,gender_Unknown,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown
0,62,85.7,162.6,10.0,140.0,39,45.0,1,0,0,0,0,0,1,0,0,0
1,76,112.4,175.3,12.0,137.0,121,112.0,0,1,0,0,0,0,1,0,0,0
2,70,82.3,166.4,18.0,133.0,91,156.0,1,0,0,0,1,0,0,0,0,0
3,70,164.0,166.4,15.0,136.0,59,103.0,1,0,0,0,1,0,0,0,0,0
4,89,81.6,182.9,29.0,146.0,103,50.0,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34596,66,71.5,157.5,30.0,134.0,112,64.0,1,0,0,0,0,0,1,0,0,0
34597,51,54.4,160.0,45.0,142.0,107,116.0,1,0,0,0,0,0,1,0,0,0
34598,50,55.4,165.1,14.0,143.0,62,114.0,1,0,0,0,1,0,0,0,0,0
34599,79,78.4,162.6,42.0,140.0,112,125.0,1,0,0,0,0,0,1,0,0,0
34600,73,102.0,177.8,34.0,142.0,104,58.0,0,1,0,0,1,0,0,0,0,0

In [62]:
final["label"] = icu_mort

In [ ]:
final

In [63]:
#upsample here first and then split into training and testing

from sklearn.utils import resample

#upsampling

final_alive = final.loc[final["label"] == "ALIVE"]
final_expired = final.loc[final["label"] == "EXPIRED"]

In [64]:
final_alive.shape

(32475, 18)

In [65]:
final_expired.shape

(2126, 18)

In [ ]:

final_upsample = resample(fina_expired, replace = True, n_samples = 25979, random_state = 123)

training_upsampled = pd.concat([training_alive, training_expired_upsample])

training_upsampled["label"].value_counts()

In [79]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)

for train_index, test_index in split.split(final, final['label']):
    training = final.loc[train_index]
    testing = final.loc[test_index]

In [80]:
training["label"].value_counts()

ALIVE      25979
EXPIRED     1701
Name: label, dtype: int64

In [81]:
testing["label"].value_counts()

ALIVE      6496
EXPIRED     425
Name: label, dtype: int64

In [82]:
testing_label = testing["label"]

In [83]:
testing_data = testing.drop("label", axis = 1)

In [84]:
testing_label

4156     ALIVE
1224     ALIVE
18287    ALIVE
22231    ALIVE
8788     ALIVE
         ...
25691    ALIVE
31760    ALIVE
11467    ALIVE
15175    ALIVE
12661    ALIVE
Name: label, Length: 6921, dtype: object

In [85]:
testing_data

,age,admissionweight,admissionheight,respiratoryrate,sodium,heartrate,meanbp,gender_Female,gender_Male,gender_Other,gender_Unknown,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown
4156,58,95.20,157.5,9.0,139.0,121,58.0,1,0,0,0,1,0,0,0,0,0
1224,85,58.96,162.6,26.0,141.0,117,133.0,1,0,0,0,0,0,1,0,0,0
18287,55,83.91,172.7,32.0,136.0,94,64.0,0,1,0,0,0,0,0,0,0,1
22231,24,154.50,178.0,9.0,135.0,133,67.0,0,1,0,0,0,0,1,0,0,0
8788,63,73.00,183.0,6.0,141.0,101,60.0,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25691,69,60.80,170.2,9.0,134.0,109,52.0,1,0,0,0,0,0,1,0,0,0
31760,84,119.60,183.0,32.0,135.0,154,53.0,0,1,0,0,1,0,0,0,0,0
11467,62,82.70,177.8,54.0,136.0,44,58.0,0,1,0,0,0,0,1,0,0,0
15175,44,79.30,182.8,10.0,138.0,119,62.0,0,1,0,0,0,0,1,0,0,0
12661,64,99.60,177.8,54.0,134.0,134,53.0,0,1,0,0,0,0,1,0,0,0

In [88]:
import numpy as np
import math

def create_interaction_df(df):
    mult_df = pd.DataFrame()
    div_df = pd.DataFrame()
    for i in df.columns[:]:
        for j in df.columns[:]:
            mult_df[i+" and "+j] = df[i] * df[j]
            if(np.isnan(df[i]/df[j]).any() or np.isposinf(df[i]/df[j])).any() or np.isneginf(df[i]/df[j]).any():
                pass
            else:
                div_df[i+" and "+j] = df[i] / df[j]
    return mult_df, div_df

In [89]:
training_label = training_upsampled["label"]
training_data = training_upsampled.drop("label", axis = 1)

In [90]:
training_label

18271      ALIVE
23230      ALIVE
32804      ALIVE
1857       ALIVE
22076      ALIVE
          ...
1755     EXPIRED
6973     EXPIRED
7172     EXPIRED
17351    EXPIRED
10412    EXPIRED
Name: label, Length: 51958, dtype: object

In [91]:
toreplace = {"ALIVE" : 1, "EXPIRED":0 }

training_label.replace(toreplace, inplace = True)

In [92]:
training_label

18271    1
23230    1
32804    1
1857     1
22076    1
        ..
1755     0
6973     0
7172     0
17351    0
10412    0
Name: label, Length: 51958, dtype: int64

In [93]:
training_upsampled.shape

(51958, 18)

In [94]:
train_mult, train_div = create_interaction_df(training_data)

In [95]:
train_mult.shape

(51958, 289)

In [96]:
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score



lr = LogisticRegression()
lda = LinearDiscriminantAnalysis()
knn = KNeighborsClassifier()
nb = GaussianNB()
svm = SVC()
rf = RandomForestClassifier()

In [ ]:
sk_models = [lr, lda, knn, nb, svm, rf]
sk_model_names = ["lr", "lda", "knn", "nb", "svm", "rf"]
data = [training_upsampled, train_mult, train_div]
data_names = ["original", "mult", "div"]

acc_dict = dict()
roc_dict = dict()
f1_dict = dict()

for m in range(len(sk_models)):
    for d in range(len(data)):
        print("m", m)
        print("d", d)
        name = sk_model_names[m] +"_"+ data_names[d]
        print(name)
        acc = cross_val_score(sk_models[m], data[d], training_label, scoring = 'accuracy', cv = 5)
        roc = cross_val_score(sk_models[m], data[d], training_label, scoring = 'roc_auc', cv = 5)
        f1_cv = cross_val_score(sk_models[m], data[d], training_label, scoring = 'f1', cv = 5)
        acc_dict[name] = acc
        roc_dict[name] = roc
        f1_dict[name] = f1_cv

m 0
d 0
lr_original

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

m 0
d 1
lr_mult

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

m 0
d 2
lr_div

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

m 1
d 0
lda_original

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

m 1
d 1
lda_mult

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

m 1
d 2
lda_div

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

m 2
d 0
knn_original
m 2
d 1
knn_mult
m 2
d 2
knn_div
m 3
d 0
nb_original
m 3
d 1
nb_mult
m 3
d 2
nb_div
m 4
d 0
svm_original

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

m 4
d 1
svm_mult

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

m 4
d 2
svm_div

/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/tedlinghu/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)