In [1]:
import query
import pandas as pd 
import numpy as np
import sql_db
import seaborn as sn
import sys
import operator
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

patient = pd.read_csv("/Users/tedlinghu/Downloads/patient.csv")
hospital = pd.read_csv("/Users/tedlinghu/Downloads/hospital.csv")
apache_vars = pd.read_csv("/Users/tedlinghu/Downloads/apacheApsVar.csv")
cpc = pd.read_csv("/Users/tedlinghu/Downloads/carePlanCareProvider.csv")
apache_patient_result = pd.read_csv("/Users/tedlinghu/Downloads/apachePatientResult.csv")
treatment = pd.read_csv("/Users/tedlinghu/Downloads/treatment.csv")

In [2]:
south_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/south_patient.csv")
west_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/west_patient.csv")
midwest_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/midwest_patient.csv")
northeast_patient = pd.read_csv("/Users/tedlinghu/Desktop/Luo_Rotation/luorotation/northeast_patient.csv")

In [3]:
south_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(south_patient.patientunitstayid)]
west_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(west_patient.patientunitstayid)]

northeast_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(northeast_patient.patientunitstayid)]
midwest_patient_apache = apache_patient_result[apache_patient_result.patientunitstayid.isin(midwest_patient.patientunitstayid)]

In [4]:
apache_cols = ["patientunitstayid","respiratoryrate", "sodium", "heartrate", "meanbp" , "hematocrit"]
patient_cols = ["patientunitstayid", "gender", "age", "ethnicity", "admissionweight" ,"admissionheight"]


final_south = south_patient[patient_cols]

In [6]:
final_south

,patientunitstayid,gender,age,ethnicity,admissionweight,admissionheight
0,309639,Female,54,Caucasian,127.0,166.4
1,309640,Female,54,Caucasian,127.0,166.4
2,309646,Female,74,Caucasian,69.4,152.4
3,309754,Female,62,Caucasian,85.7,162.6
4,309852,Female,55,Caucasian,56.6,162.2
...,...,...,...,...,...,...
56660,3353235,Male,50,Caucasian,90.0,175.3
56661,3353237,Female,79,Caucasian,78.4,162.6
56662,3353251,Male,73,African American,102.0,177.8
56663,3353254,Male,81,Caucasian,83.9,185.4
56664,3353263,Male,35,African American,100.8,182.9

In [7]:
apache_south = apache_vars[apache_vars['patientunitstayid'].isin(final_south['patientunitstayid'])][apache_cols]

In [8]:
final_south.shape

(56665, 6)

In [9]:
apache_south.shape

(50945, 6)

In [16]:
apache_south.columns

Index(['patientunitstayid', 'respiratoryrate', 'sodium', 'heartrate', 'meanbp',
       'hematocrit'],
      dtype='object')

In [17]:
final = final_south[final_south['patientunitstayid'].isin(apache_south['patientunitstayid'])]

In [18]:
final.shape

(50945, 6)

In [19]:
final['patientunitstayid']

1         309640
2         309646
3         309754
4         309852
5         309873
          ...
56660    3353235
56661    3353237
56662    3353251
56663    3353254
56664    3353263
Name: patientunitstayid, Length: 50945, dtype: int64

In [20]:
final = pd.merge(final, apache_south, on = 'patientunitstayid')

In [21]:
final.shape

(50945, 11)

In [22]:
final.columns

Index(['patientunitstayid', 'gender', 'age', 'ethnicity', 'admissionweight',
       'admissionheight', 'respiratoryrate', 'sodium', 'heartrate', 'meanbp',
       'hematocrit'],
      dtype='object')

In [23]:
final.isnull().sum()

patientunitstayid       0
gender                 27
age                    25
ethnicity            1213
admissionweight      1752
admissionheight      1156
respiratoryrate         0
sodium                  0
heartrate               0
meanbp                  0
hematocrit              0
dtype: int64

In [24]:
final = final.dropna()

In [25]:
final.isnull().sum()

patientunitstayid    0
gender               0
age                  0
ethnicity            0
admissionweight      0
admissionheight      0
respiratoryrate      0
sodium               0
heartrate            0
meanbp               0
hematocrit           0
dtype: int64

In [26]:
final.shape

(47762, 11)

In [20]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47762 entries, 0 to 50944
Data columns (total 11 columns):
patientunitstayid    47762 non-null int64
respiratoryrate      47762 non-null float64
sodium               47762 non-null float64
heartrate            47762 non-null int64
meanbp               47762 non-null float64
hematocrit           47762 non-null float64
gender               47762 non-null object
age                  47762 non-null object
ethnicity            47762 non-null object
admissionweight      47762 non-null float64
admissionheight      47762 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.4+ MB

In [21]:
final["age"].unique()

array(['54', '74', '62', '55', '59', '76', '70', '> 89', '43', '41', '85',
       '50', '67', '84', '86', '75', '72', '49', '53', '61', '32', '58',
       '57', '60', '56', '71', '88', '66', '65', '80', '52', '81', '31',
       '40', '51', '47', '83', '29', '73', '63', '42', '27', '16', '64',
       '78', '82', '69', '48', '77', '87', '68', '89', '35', '38', '33',
       '79', '45', '46', '25', '36', '44', '22', '37', '24', '39', '21',
       '30', '23', '26', '18', '20', '34', '28', '0', '19', '17', '14',
       '12', '15', '13', '8', '11'], dtype=object)

In [27]:
final["age"].replace({"> 89":"89"}, inplace=True)

final["age"].unique()

array(['54', '74', '62', '55', '59', '76', '70', '89', '43', '41', '85',
       '50', '67', '84', '86', '75', '72', '49', '53', '61', '32', '58',
       '57', '60', '56', '71', '88', '66', '65', '80', '52', '81', '31',
       '40', '51', '47', '83', '29', '73', '63', '42', '27', '16', '64',
       '78', '82', '69', '48', '77', '87', '68', '35', '38', '33', '79',
       '45', '46', '25', '36', '44', '22', '37', '24', '39', '21', '30',
       '23', '26', '18', '20', '34', '28', '0', '19', '17', '14', '12',
       '15', '13', '8', '11'], dtype=object)

In [28]:
final["age"] =final["age"].astype(int)

In [29]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47762 entries, 0 to 50944
Data columns (total 11 columns):
patientunitstayid    47762 non-null int64
gender               47762 non-null object
age                  47762 non-null int64
ethnicity            47762 non-null object
admissionweight      47762 non-null float64
admissionheight      47762 non-null float64
respiratoryrate      47762 non-null float64
sodium               47762 non-null float64
heartrate            47762 non-null int64
meanbp               47762 non-null float64
hematocrit           47762 non-null float64
dtypes: float64(6), int64(3), object(2)
memory usage: 4.4+ MB

In [30]:
final = pd.get_dummies(final)

In [31]:
len(final.loc[final["sodium"] == -1])

11280

In [32]:
len(final.loc[final["heartrate"] == -1])

384

In [33]:
len(final.loc[final["meanbp"] == -1])

525

In [34]:
len(final.loc[final["hematocrit"] == -1])

12589

In [35]:
final = final.drop(final.loc[final["sodium"] == -1].index)

In [36]:
final.shape

(36482, 19)

In [32]:
len(final.loc[final["hematocrit"] == -1])

3565

In [37]:
final = final.drop("hematocrit", axis = 1)

In [38]:
final = final.drop(final.loc[final["heartrate"] == -1].index)

In [39]:
final = final.drop(final.loc[final["meanbp"] == -1].index)

In [40]:
final = final.drop(final.loc[final["respiratoryrate"] == -1].index)

In [41]:
final.shape

(36251, 18)

In [42]:
final.shape

(36251, 18)

In [43]:
final["patientunitstayid"]

2         309754
5         309887
6         309891
7         309892
8         309917
          ...
50935    3353200
50937    3353213
50938    3353216
50941    3353237
50942    3353251
Name: patientunitstayid, Length: 36251, dtype: int64

In [46]:
idx = apache_patient_result[apache_patient_result.patientunitstayid.isin(final["patientunitstayid"])]["patientunitstayid"].drop_duplicates().index

In [47]:
final["patientunitstayid"]

2         309754
5         309887
6         309891
7         309892
8         309917
          ...
50935    3353200
50937    3353213
50938    3353216
50941    3353237
50942    3353251
Name: patientunitstayid, Length: 36251, dtype: int64

In [48]:
x = apache_patient_result.loc[idx]

In [49]:
x

,apachepatientresultsid,patientunitstayid,physicianspeciality,physicianinterventioncategory,acutephysiologyscore,apachescore,apacheversion,predictedicumortality,actualicumortality,predictediculos,...,predictedhospitallos,actualhospitallos,preopmi,preopcardiaccath,ptcawithin24h,unabridgedunitlos,unabridgedhosplos,actualventdays,predventdays,unabridgedactualventdays
25780,3405646,309754,pulmonary/CCM,I,40,51,IV,0.019718,ALIVE,3.076819,...,15.191354,5.9667,0,0,0,0.9750,5.9667,NaN,NaN,NaN
25786,3379074,309887,surgery-general,II,31,48,IVa,0.012025,ALIVE,2.092465,...,7.426016,7.4292,0,0,0,0.7479,7.4292,NaN,NaN,NaN
25788,3288756,309891,pulmonary/CCM,Unknown,47,63,IV,0.010168,ALIVE,3.590158,...,15.492303,40.1028,0,0,0,5.9944,40.1028,NaN,NaN,NaN
25790,3426898,309892,cardiology,Unknown,39,55,IV,0.047459,ALIVE,6.129612,...,-1.000000,40.1028,0,0,0,0.7291,40.1028,2.0,4.054670,2.0
25792,3310010,309917,unknown,III,37,61,IV,0.025724,ALIVE,1.850127,...,7.737637,4.2951,0,0,0,1.3569,4.2951,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297044,3272787,3353200,critical care medicine (CCM),II,44,57,IV,0.045303,ALIVE,7.303309,...,-1.000000,50.0000,0,0,0,4.5020,132.6257,5.0,3.884185,5.0
297048,3251548,3353213,critical care medicine (CCM),II,24,29,IVa,0.024889,ALIVE,5.801727,...,11.623734,3.6125,0,0,0,3.4118,3.6125,2.0,2.201035,2.0
297050,3267484,3353216,Specialty Not Specified,II,47,52,IV,0.012796,ALIVE,4.360860,...,10.601542,2.1458,0,0,0,2.1458,2.1458,2.0,3.166850,2.0
297056,3246234,3353237,pulmonary/CCM,II,37,54,IV,0.027749,ALIVE,2.136223,...,7.813518,6.7215,0,0,0,0.8812,6.7215,NaN,NaN,NaN
297058,3272801,3353251,cardiology,II,142,158,IV,0.906322,ALIVE,4.051601,...,3.553571,13.4056,0,0,1,11.2909,13.4056,9.0,2.868396,9.0

In [51]:
icu_mort = x['actualicumortality']
hosp_mort = x['actualhospitalmortality']

icu_los = x['actualiculos']
hosp_los = x['actualhospitallos']

In [54]:
tmp_cols = ['actualicumortality', 'patientunitstayid']

tmp = x[tmp_cols]

In [55]:
final.loc[x["actualicumortality"] == "EXPIRED"]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [56]:
len(icu_mort)

34601

In [57]:
final = final[final.patientunitstayid.isin(apache_patient_result.loc[idx]['patientunitstayid'])]

In [58]:
final.shape

(34601, 18)

In [63]:
final.loc[final["patientunitstayid"] == 310277]

,apachepatientresultsid,patientunitstayid,physicianspeciality,physicianinterventioncategory,acutephysiologyscore,apachescore,apacheversion,predictedicumortality,actualicumortality,predictediculos,...,predictedhospitallos,actualhospitallos,preopmi,preopcardiaccath,ptcawithin24h,unabridgedunitlos,unabridgedhosplos,actualventdays,predventdays,unabridgedactualventdays
25822,3379090,310277,nephrology,I,99,104,IVa,0.170288,EXPIRED,5.50608,...,12.02981,3.0694,0,0,0,2.9298,3.0694,NaN,NaN,NaN

In [64]:
final_patient_id = final['patientunitstayid']

In [65]:
final = final.drop("patientunitstayid", axis = 1)

In [66]:
final.head()

,apachepatientresultsid,physicianspeciality,physicianinterventioncategory,acutephysiologyscore,apachescore,apacheversion,predictedicumortality,actualicumortality,predictediculos,actualiculos,...,predictedhospitallos,actualhospitallos,preopmi,preopcardiaccath,ptcawithin24h,unabridgedunitlos,unabridgedhosplos,actualventdays,predventdays,unabridgedactualventdays
25780,3405646,pulmonary/CCM,I,40,51,IV,0.019718,ALIVE,3.076819,0.9750,...,15.191354,5.9667,0,0,0,0.9750,5.9667,NaN,NaN,NaN
25786,3379074,surgery-general,II,31,48,IVa,0.012025,ALIVE,2.092465,0.7479,...,7.426016,7.4292,0,0,0,0.7479,7.4292,NaN,NaN,NaN
25788,3288756,pulmonary/CCM,Unknown,47,63,IV,0.010168,ALIVE,3.590158,5.9944,...,15.492303,40.1028,0,0,0,5.9944,40.1028,NaN,NaN,NaN
25790,3426898,cardiology,Unknown,39,55,IV,0.047459,ALIVE,6.129612,0.7291,...,-1.000000,40.1028,0,0,0,0.7291,40.1028,2.0,4.05467,2.0
25792,3310010,unknown,III,37,61,IV,0.025724,ALIVE,1.850127,1.3569,...,7.737637,4.2951,0,0,0,1.3569,4.2951,NaN,NaN,NaN

In [54]:
final.shape

(34601, 17)

In [ ]:
#extremely unbalanced class
2126/(32474+2126)

In [ ]:
range(final.shape[0])

In [ ]:
tmp = final.reset_index(drop=True, inplace = True)

In [ ]:
final

In [ ]:
final = final.drop("label", axis = 1)

In [ ]:
icu_mort.reset_index(drop=True, inplace = True)

In [ ]:
final["label"] = icu_mort

In [ ]:
icu_mort

In [ ]:
final

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)

for train_index, test_index in split.split(final, final['label']):
    training = final.loc[train_index]
    testing = final.loc[test_index]

In [ ]:
training["label"].value_counts()

In [ ]:
testing["label"].value_counts()

In [ ]:
testing_label = testing["label"]

In [ ]:
testing_data = testing.drop("label", axis = 1)

In [ ]:
testing_label

In [ ]:
testing_data

In [ ]:
from sklearn.utils import resample

#upsampling

training_alive = training.loc[training["label"] == "ALIVE"]
training_expired = training.loc[training["label"] == "EXPIRED"]

In [ ]:
training_expired_upsample = resample(training_expired, replace = True, n_samples = 25979, random_state = 123)

training_upsampled = pd.concat([training_alive, training_expired_upsample])

training_upsampled["label"].value_counts()

In [ ]:
import numpy as np
import math

def create_interaction_df(df):
    mult_df = pd.DataFrame()
    div_df = pd.DataFrame()
    for i in df.columns[:]:
        for j in df.columns[:]:
            mult_df[i+" and "+j] = df[i] * df[j]
            if(np.isnan(df[i]/df[j]).any() or np.isposinf(df[i]/df[j])).any() or np.isneginf(df[i]/df[j]).any():
                pass
            else:
                div_df[i+" and "+j] = df[i] / df[j]
    return mult_df, div_df

In [ ]:
training_label = training_upsampled["label"]
training_data = training_upsampled.drop("label", axis = 1)

In [ ]:
training_label

In [ ]:
toreplace = {"ALIVE" : 1, "EXPIRED":0 }

training_label.replace(toreplace, inplace = True)

In [ ]:
training_label

In [ ]:
training_upsampled.shape

In [ ]:
train_mult, train_div = create_interaction_df(training_data)

In [ ]:
train_mult.shape

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score



lr = LogisticRegression()
lda = LinearDiscriminantAnalysis()
knn = KNeighborsClassifier()
nb = GaussianNB()
svm = SVC()
rf = RandomForestClassifier()

In [ ]:
sk_models = [lr, lda, knn, nb, svm, rf]
sk_model_names = ["lr", "lda", "knn", "nb", "svm", "rf"]
data = [training_upsampled, train_mult, train_div]
data_names = ["original", "mult", "div"]

acc_dict = dict()
roc_dict = dict()
f1_dict = dict()

for m in range(len(sk_models)):
    for d in range(len(data)):
        print("m", m)
        print("d", d)
        name = sk_model_names[m] +"_"+ data_names[d]
        acc = cross_val_score(sk_models[m], data[d], training_label, scoring = 'accuracy', cv = 5)
        roc = cross_val_score(sk_models[m], data[d], training_label, scoring = 'roc_auc', cv = 5)
        f1_cv = cross_val_score(sk_models[m], data[d], training_label, scoring = 'f1', cv = 5)
        acc_dict[name] = acc
        roc_dict[name] = roc
        f1_dict[name] = f1_cv